//
// Sidebar
//======================================

.sidebar {
  @include rem(font-size, $sidebar--font-size );
  margin-bottom: 40px;
  .widget {
    background-color: $widget--background-color;
    padding: 40px;
  }
    @include media( $breakpoint__screen-size--small ) {
    margin-bottom: 5%;
  }
}