//
// Main Entry Article
//======================================

.entry {
  background-color: $entry--background-color;
  margin-bottom: 40px;
  padding: 20px 80px;
  border-bottom: 1px dotted $gray--light;

    @include media( $breakpoint__screen-size--small ) {
    padding: 30px;
    margin-bottom: 5%;
  }
}