//
// Entry Content
//======================================
.entry-content {
  margin: 30px;
  padding: 30px;
  background-color: $entry-content__background-color;
  ol,
  ul {
    margin-bottom: 28px;
    margin-left: 40px;
  }

  ol > li {
    list-style-type: decimal;
  }

  ul > li {
    list-style-type: disc;
  }

  ol ol,
  ul ul {
    margin-bottom: 0;
  }
}