//
// Site Title
//======================================

.site-title {
  @include rem(font-size, $site-title--font-size );
  font-family: $site-title--font-family;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0;

  a,
  a:hover,
  a:focus {
    color: $site-title--link-color;
    text-decoration: none;
  }

    @include media( $breakpoint__screen-size--medium ) {
    text-align: center;
  }
}