//
// Site Description
//======================================

.site-description {
  @include rem(font-size, $site-description--font-size);
  font-family: $site-description--font;
  font-weight: 700;
  letter-spacing: 0.3em;
  line-height: 1.5;
  margin-bottom: 0;

    @include media( $breakpoint__screen-size--medium ) {
    text-align: center;
  }
}