//
// Entry Footer Meta
//======================================

.entry-footer {
  .entry-meta {
    padding-top: 24px;
    @include rem(font-size, $entry-footer__entry-meta--font-size );
    margin-bottom: 0;
  }
}

.entry-categories,
.entry-tags {
  display: block;
}